
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Rules for the 'clients' collection - OPEN ACCESS
    match /clients/{clientId} {
      allow read, write: if true; // Allows anyone to read, create, update, delete
    }

    // Rules for the 'power-readings' collection - OPEN ACCESS
    match /power-readings/{readingId} {
      allow read, write, delete: if true; // Allows anyone to read, create, update, delete
    }

    // Rules for the 'water-readings' collection - OPEN ACCESS
    match /water-readings/{readingId} {
      allow read, write, delete: if true; // Allows anyone to read, create, update, delete
    }

    // Rules for the 'mother-bills' collection - OPEN ACCESS
    match /mother-bills/{billId} {
      allow read, write: if true; // Allows anyone to read, create, update, delete
    }
    
    // Rules for 'monthly-rates' collection - OPEN ACCESS
    match /monthly-rates/{rateId} {
      allow read, write: if true;
    }
    
     match /app-users/{userId} {
      allow read, write: if true;
    }
    match /signatories/{signatoryId} {
      allow read, write: if true; // Allows anyone to read, create, update, delete
    }
    // Rules for the 'reading-performers' collection - OPEN ACCESS
    match /reading-performers/{performerId} {
      allow read, write: if true;
    }

    // Rules for the 'verifiers' collection - OPEN ACCESS
    match /verifiers/{verifierId} {
      allow read, write: if true; // Allows anyone to read, create, update, delete
    }

    // Rules for the 'invoices' collection - OPEN ACCESS
    match /invoices/{invoiceId} {
      allow read, write, delete: if true; // Allows anyone to read, create, update, delete
    }
  }
}
